
@{
    ViewData["Title"] = "Create";
}
@model Employee
<div class="container">
    <div class="row">
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input  class="form-control" asp-for="Name"  placeholder="Enter name">
    </div>
    <div class="form-group">
        <label asp-for="Position">Posotion</label>
        <input  class="form-control" asp-for="Position"  placeholder="Enter position">
    </div>
    <div class="form-group">
        <label asp-for="Title">Name</label>
        <input  class="form-control" asp-for="Title"  placeholder="Enter title">
    </div>
    <div class="form-group">
        <label asp-for="FormFile">Image</label>
        <input type="file" accept="image/*" class="form-control" asp-for="FormFile" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

